
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}


<div class="zidbody">
    <div class="logo-container">
        <img src="/Content/img/logo.png" alt="Logo" class="header-logo" />
    </div>
    <div class="zid_loginform" style="position: relative; ">
        <div id="login-loading" class="loadingfrm" style="margin: -15px -20px;">
            <img src="/Content/img/loader.gif" style="height: 100px;padding-top:70px;">
        </div>

        <h2 class="formheader" style="font-weight: bold; text-align: center; margin-bottom: 30px; ">Đăng nhập</h2>
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="error-message" style="color: red; text-align: center; margin-bottom: 20px;">
                @ViewBag.ErrorMessage
            </div>
        }
        <form id="frmLogin" onsubmit="submitLogin(); return false;" name="frmLogin" action="/Home/Index" method="post" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="pid" value="38">
            <input type="hidden" name="u1" value="https://id.zing.vn/v2/login/cb?apikey=92140c0e46c54994812403f564787c14&pid=38&_src=&utm_source=&utm_medium=&utm_term=&utm_content=&utm_campaign=&next=https%3A%2F%2Fid.zing.vn%2Fv2%2Finfosetting%3Fapikey%3D92140c0e46c54994812403f564787c14%26pid%3D38&referer=">
            <input type="hidden" name="fp" value="https://id.zing.vn/v2/login/cb?apikey=92140c0e46c54994812403f564787c14&pid=38&_src=&utm_source=&utm_medium=&utm_term=&utm_content=&utm_campaign=&next=https%3A%2F%2Fid.zing.vn%2Fv2%2Finfosetting%3Fapikey%3D92140c0e46c54994812403f564787c14%26pid%3D38&referer=">
            <input type="hidden" name="apikey" value="92140c0e46c54994812403f564787c14">
            <input style="display:none">
            <input type="password" style="display:none">

            @**@
            <div rel="Notice" class="msgtooltip posleft error show" id="login_account_error">
                <span class="tooltiparrow zidsprt"></span>
                <div class="tooltipbody">
                    <span class="tipmsg_icon"></span>
                    <div class="tipcontent"></div>
                </div>
            </div>

            <p class="finput">
                @*<input tabindex="1" autocomplete="off" class="input_login" type="text" name="Gmail" id="login_account" placeholder="Email hoặc số điện thoại" required>*@

                <input tabindex="1" value="" autocomplete="off" class="input_login" type="text" name="Gmail" id="login_account" placeholder="email hoặc số điện thoại">
                @if (!string.IsNullOrEmpty(ViewBag.EmailError))
                {
                    <span style="color: red;">@ViewBag.EmailError</span>
                }
            </p>
            <script>
                $("#login_account").val("");
            </script>
            <div rel="Notice" class="msgtooltip posleft error show" id="login_pwd_error">
                <span class="tooltiparrow zidsprt"></span>
                <div class="tooltipbody">
                    <span class="tipmsg_icon"></span>
                    <div class="tipcontent"></div>
                </div>
            </div>
            <p class="finput">
                <input type="text" class="input_login" id="fake_login_pwd" value="Mật khẩu" style="display:none" tabindex="2">
                <input type="password" class="input_login" name="MatKhau" id="login_pwd" placeholder="Mật khẩu" tabindex="2">
                @if (!string.IsNullOrEmpty(ViewBag.PasswordError))
                {
                    <span style="color: red;">@ViewBag.PasswordError</span>
                }
                @*<input type="password" class="input_login" name="Password" id="login_pwd" placeholder="Mật khẩu" tabindex="2" required>*@

            </p>
            @**@
            @*<div class="zidfbot">
                <a tabindex="3" href="#" onclick="submitLogin();" class="zidsignin_btn" title="Đăng nhập">Đăng nhập</a>
                <p><a href="https://id.zing.vn/v2/forgotinfo?apikey=92140c0e46c54994812403f564787c14&pid=38">Quên mật khẩu?</a></p>
            </div>
            <div>
                <span>Bạn chưa có tài khoản?</span>
                <a href="https://www.topcv.vn/sign-up">
                    Đăng ký ngay
                </a>
            </div>*@
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <div>
                    <p><a href="https://id.zing.vn/v2/forgotinfo?apikey=92140c0e46c54994812403f564787c14&pid=38">Quên mật khẩu?</a></p>
                    <span>Bạn chưa có tài khoản? <a href="/Register/Index">Đăng ký ngay</a></span>
                </div>
                @*<a href="/HomePage/Index" onclick="submitlogin();" style="background: #0072c6; color: #fff; padding: 10px 20px; font-size: 16px; border: none; border-radius: 5px; cursor: pointer; text-decoration: none;">đăng nhập</a>*@
            <button type="submit" onclick="submitlogin();" style="background: #0072c6; color: #fff; padding: 10px 20px; font-size: 16px; border: none; border-radius: 5px; cursor: pointer; text-decoration: none;">
                Đăng Nhập
            </button>
            </div>



            <div style="margin-TOP:20px; font-size: 18px;color: #0072C6;font-family: 'Segoe UI', 'Segoe WP', 'Segoe UI WPC', Tahoma, Arial, sans-serif;">
                <b>
                    &#272;&#417;n v&#7883; qu&#7843;n tr&#7883; v&#224; v&#7853;n h&#224;nh:
                </b>
                <br />
                <p1> Trung tâm Công nghệ thông tin và Truyền thông Tài Chung</p1>
                <br />
                <b> Hỗ trợ và hướng dẫn sử dụng: </b>
                <br />
                <p1>
                    SĐT : 0987.654.321
                    <br />
                    Email: lala@gmail.com
                    <br>
                    Hướng dẫn Khai báo thông tin  <strong><a href="http://123.30.25.155/hdsd.pdf" target="_blank">Tại đ&acirc;y</a></strong>
                    <br>
                    Hướng dẫn truy cập Tra cứu thông tin: <strong><a href="http://123.30.25.155/smartphone.pdf" target="_blank">Tại đ&acirc;y</a></strong>
                </p1>
            </div>
        </form>

    </div>
    <!--<div style="zidlogincont">-->
    @*<p class="txtintro">
            Chỉ với một tài khoản Zing ID,<br>
            sử dụng được cho các game của VNG.
        </p>*@
    <!--<p>
    <a href="/v2/register?apikey=92140c0e46c54994812403f564787c14&pid=38&next=https%3A%2F%2Fid.zing.vn%2Fv2%2Finfosetting%3Fapikey%3D92140c0e46c54994812403f564787c14%26pid%3D38"
       class="zidregbtn" title="Đăng ký ngay">Đăng ký ngay</a></p>-->
    <!--
        <div class="otheracclogin">
            <p class="htext">Hoặc đăng nhập với tài khoản khác</p>
            <ul class="accbtns">
                <li><a class="fb_acc" href="javascript:void(0)" onclick="zmXLoginWg.openPopup('facebook', 'cb');
                                    return false;" title="Facebook"><span class="acc_btnicn"></span>Facebook</a></li>
                <li><a class="gplus_acc" href="javascript:void(0)" onclick="zmXLoginWg.openPopup('google', 'cb');
                                    return false;" title="Google+"><span class="acc_btnicn"></span>Google+</a></li>
            </ul>
        </div>

    -->
    <!--</div>
    <div class="clr"></div>-->
    <!--<div class="qcbanner_login" style="display:">
        <div class="zid_promote">
            <h3><em class="htitle_icon"></em>Các sản phẩm sử dụng Zing ID</h3>
            <div class="app_suggestion clearfix">
                <ul id ="listapp">

                </ul>
            </div>
        </div>
    </div>-->
    <!--<div class="loginbanner" style="display:">
        <iframe width="0" height="0" src="http://me.zing.vn/utype/kvtm?po=bannerid" style="display:none"></iframe>
        <a href="http://goo.gl/LAVyq9" target="_blank">
            <img src="https://stc-id.zing.vn/login/images/banner/zmmb_wc_v2_800x90.swf" width="800" height="90" alt="" />
            <embed src="https://stc-id.zing.vn/login/images/banner/zmmb_wc_v2_800x90.swf?clickTAG=http://goo.gl/LAVyq9" width="800" height="90" alt="" />
        </a>
    </div>-->
    <!--<script language="javascript" src="https://stc-id.zing.vn/xlogin/js/zid_xlogin_1.06.js" type="text/javascript"></script>-->
    @*<script type="text/javascript">
        window.zAsyncInit = function () {
            zmeOpenWidget.init({
                apikey: '92140c0e46c54994812403f564787c14',
                pid: '38',
                callback: 'cb',
                tpl: '5'
            });
        };
        function cb(cbdata, acn, zid, uin, autcode, obj) {
            location.reload();
        };
        (function (d) {
            var js, id = 'widget-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement('script');
            js.id = id;
            js.async = true;
            var t = Math.floor(Math.random() * 10000);
            js.src = "https://stc-id.zing.vn/widget/js/openwidget4.js?t=" + t;
            ref.parentNode.insertBefore(js, ref);
        }(document));</script>*@
    <script language="javascript" type="text/javascript" src="/Content/js/zid_login_1.11.js"></script>

</div>

