<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Zing ID - Zing Passport - Tài khoản Zing của VNG</title>
    <link rel="shortcut icon" href="https://stc-id.zing.vn/favicon.ico">
    <script type="text/javascript" src="/Content/js/zmCore-1.46.min.js"></script>
    <script type="text/javascript" src="/Content/js/swfobject.js"></script>
    <script type="text/javascript" src="/Content/js/zmxcall.js"></script>
    <!--<script type="text/javascript" src="https://stc-id.zing.vn/login/js/tracking_hotgame_hotevent.js"></script>-->
    <script type="text/javascript" src="/Content/js/tracking_hotgame_hotevent.js"></script>

    <link href="/Content/css/select2.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/Content/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/responsive.dataTables.min.css">
    <link href="/Content/css/jcarousel.basic-1.01.css" rel="stylesheet" type="text/css">
    <link href="/Content/css/zingid_02_18.css" rel="stylesheet" type="text/css">
    <link href="/Content/css/zingid_mobile_02_2.min.css" rel="stylesheet" type="text/css">

    <!--<link href="" rel="stylesheet" type="text/css" />-->
    <script type="text/javascript">
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-48855423-1', 'zing.vn');
            ga('require', 'displayfeatures');
            ga('send', 'pageview');
    </script>

    <script src="/Content/js/jquery-1.9.1.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Content/js/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="/Content/js/select2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/Content/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="/Content/js/dataTables.responsive.min.js"></script>
    <script src="/Content/js/zingid_mobile_02_2.min.js"></script>
    <!--<script src=''></script>-->
    <script src="/Content/js/api.js"></script>

</head>
<body>

    <script type="text/javascript">
            var zid = {
                baseUrl: "https://id.zing.vn/v2",
                apikey: "92140c0e46c54994812403f564787c14",
                pid: "38",
                loginUrl: "https://id.zing.vn/v2/login?apikey=92140c0e46c54994812403f564787c14&pid=38",
                goLogin: function() {
                    location.href = "https://id.zing.vn/v2/login?apikey=92140c0e46c54994812403f564787c14&pid=38&next=https%3A%2F%2Fid.zing.vn%2Fv2%2Finfosetting%3Fapikey%3D92140c0e46c54994812403f564787c14%26pid%3D38";
                },
                chgEmailUrl: function(email) {
                    location.href = "https://id.zing.vn/v2/emailactive/change?apikey=92140c0e46c54994812403f564787c14&pid=38&email=" + email;
                }
            };
    </script>

    <script type="text/javascript" src="/Content/js/zm.ui-2.15.min.js"></script>
    <script type="text/javascript" src="/Content/js/zid_27.js"></script>
    @*<div class="zid_header">
        <div class="zid_header_inner">
            <input id="serverdomain" type="hidden" value="https://id.zing.vn/v2">
            <input id="acn" type="hidden" value="">
            <h1 class="zidlogo"><a class="zidsprt" href="https://id.zing.vn/v2?apikey=92140c0e46c54994812403f564787c14&pid=38" title="Trang chủ Zing ID">Zing ID</a></h1>






        </div>
    </div>*@

    @RenderBody()

    <div class="zidfooter">
        <div class="zidfooter_inner">
            <div class="zidfooter_left">
                Copyright © 2013 Zing<br>
                Đơn vị chủ quản: VNG Corporation.
            </div>
            <ul class="zidfooter_right">
                <li><a target="_blank" href="https://account.support.vnggames.com/products/passport-zingid-230-aa5a5cbf15d4936b6dc7a5482cc7bba9/problems" title="Hỗ trợ">Hỗ trợ</a></li>
                <li class="dot"></li>
                <li><a target="_blank" href="https://id.zing.vn/v2/policy/term-of-services" title="Điều khoản sử dụng">Điều khoản sử dụng</a></li>
                <li class="dot"></li>
                <li><a target="_blank" href="https://id.zing.vn/v2/guide-faq#g1_1">Hướng dẫn</a></li>
                <li class="dot"></li>
                <li><a target="_blank" href="https://id.zing.vn/v2/policy/privacy" title="Chính sách bảo mật">Chính sách bảo mật</a></li>
                <li class="dot"></li>
                <li><a target="_blank" href="https://id.zing.vn/v2/guide-faq">Hỏi đáp</a></li>
            </ul>
            <div class="clr"></div>
        </div>
    </div>
</body>
</html>

