<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trang Thông Tin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/Content/LandingPage/css/animate.css">

    <link rel="stylesheet" href="/Content/LandingPage/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Content/LandingPage/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/Content/LandingPage/css/magnific-popup.css">

    <link rel="stylesheet" href="/Content/LandingPage/css/flaticon.css">
    <link rel="stylesheet" href="/Content/LandingPage/css/style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/LandingPage/Index">TH<span>.</span></a>
            <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav nav ml-auto">
                    <li class="nav-item"><a href="#home-section" class="nav-link"><span>TRANG CHỦ</span></a></li>
                    <li class="nav-item"><a href="#about-section" class="nav-link"><span>BXH</span></a></li>
                    <li class="nav-item"><a href="#skills-section" class="nav-link"><span>THỐNG KÊ</span></a></li>
                    <li class="nav-item"><a href="#services-section" class="nav-link"><span>TIÊU CHUẨN</span></a></li>
                    <li class="nav-item"><a href="#projects-section" class="nav-link"><span>HÌNH ẢNH</span></a></li>
                    <li class="nav-item"><a href="#blog-section" class="nav-link"><span>TIN TỨC</span></a></li>
                    <li class="nav-item"><a href="#footer-section" class="nav-link"><span>LIÊN HỆ</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()

    <footer id="footer-section" class="ftco-footer ftco-section" style="background: #007bb4">
        <div class="container">
            <div class="row mb-2">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">THÔNG TIN LIÊN HỆ</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon fa fa-map marker"></span><span class="text">Trường Đại Học Kinh Tế - Tài Chính UEF</span></li>
                                <li><span class="icon fa fa-phone"></span><span class="text">+84 0816 310 306</span></li>
                                <li><span class="icon fa fa-envelope pr-4"></span><span class="text">tutuanhai@gmail.com</span></li>
                            </ul>
                        </div>
                        <ul class="ftco-footer-social list-unstyled mt-2">
                            <li class="ftco-animate"><a href="https://x.com/"><span class="fa fa-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.facebook.com/"><span class="fa fa-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.instagram.com/"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="/Content/LandingPage/js/jquery.min.js"></script>
    <script src="/Content/LandingPage/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/Content/LandingPage/js/popper.min.js"></script>
    <script src="/Content/LandingPage/js/bootstrap.min.js"></script>
    <script src="/Content/LandingPage/js/jquery.easing.1.3.js"></script>
    <script src="/Content/LandingPage/js/jquery.waypoints.min.js"></script>
    <script src="/Content/LandingPage/js/jquery.stellar.min.js"></script>
    <script src="/Content/LandingPage/js/owl.carousel.min.js"></script>
    <script src="/Content/LandingPage/js/jquery.magnific-popup.min.js"></script>
    <script src="/Content/LandingPage/js/jquery.animateNumber.min.js"></script>
    <script src="/Content/LandingPage/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="/Content/LandingPage/js/google-map.js"></script>

    <script src="/Content/LandingPage/js/main.js"></script>



</body>
</html>