@model ManageBloodTypes.Models.RegisterModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<div class="zidbody">



    <div class="zid_regform">

        <ul class="zidregmethodtab">
            <li>
                <a id="tab_reg_by_acc" href="javascript:void(0)" onclick="showRegAcc();" class="selected">
                    <span class="useracc_icon zidsprt"></span>Bằng Tài khoản Email
                </a>
            </li>
        </ul>
        <h2 class="formheader"><strong>Đăng ký</strong> </h2>
        <!--register-->
        <div id="reg_by_acc" class="zid_regbox" style="position: relative;">
            <div id="regacc_loading" class="loadingfrm" style="margin: -18px">
                <img src="/Content/img/loader.gif" style="height: 100px;padding-top: 150px;">
            </div>
            <p class="zid_regform_notice">Những thông tin có đánh dấu <span class="requiredfield_icn"></span>  là bắt buộc nhập.</p>


            <!--form reg-->
            <form id="frmReg" name="frmReg" action="/Register/Index" method="post" enctype="application/x-www-form-urlencoded" onsubmit="return validatePassword()">
                <!-- Hidden input -->
                <div id="hidden_input">
                    <input type="hidden" name="apikey" id="zapikey" value="92140c0e46c54994812403f564787c14" autocomplete="off">
                    <input type="hidden" name="next" value="https%3A%2F%2Fid.zing.vn%2Fv2%2Finfosetting%3Fapikey%3D92140c0e46c54994812403f564787c14%26pid%3D38" autocomplete="off">
                    <input type="hidden" name="pid" id="pid" value="38" autocomplete="off">
                    <input type="hidden" name="oauthdata" value="" autocomplete="off">
                    <input type="hidden" name="_src" value="">
                    <input type="hidden" name="utm_source" value="">
                    <input type="hidden" name="utm_medium" value="">
                    <input type="hidden" name="utm_term" value="">
                    <input type="hidden" name="utm_content" value="">
                    <input type="hidden" name="utm_campaign" value="">
                    <input type="hidden" name="referer" value="">
                    <input type="hidden" name="age" id="age" value="">

                </div>

                <!-- Step 1 -->
                <div id="regfrm_step1" style="display: block">
                    <!-- Fullname -->
                    <div rel="Notice" class="msgtooltip posleft error show" id="regacc_fullname_error">
                        <span class="tooltiparrow zidsprt"></span>
                        <div class="tooltipbody">
                            <span class="tipmsg_icon"></span>
                            <div class="tipcontent"></div>
                        </div>
                    </div>
                    <div class="finput">
                        <em class="requiredfield_icn"></em>
                        <input class="input_login" tabindex="1" placeholder="Họ và Tên" type="text" maxlength="40" name="HoTen" id="regacc_fullname" autocomplete="off" value="">
                        <input class="input_login" type="text" value="Họ tên" style="display:none" id="fake_regacc_fullname">
                        <div id="regacc_fullname_tooltip" class="formtipbubble" style="display:none;">
                            <span class="formtip_arrow zidsprt"></span>
                            <div class="formtip_inner">Vui lòng nhập họ tên thật và chính xác từ 2 đến 40 kí tự.</div>
                        </div>
                    </div>

                    <!-- Account   id regacc_account_error  dẫn tới file zid_register_full -->
                    <div rel="Notice" class="msgtooltip posleft error show" id="regacc_account_error">
                        <span class="tooltiparrow zidsprt"></span>
                        <div class="tooltipbody">
                            <span class="tipmsg_icon"></span>
                            <div class="tipcontent">
                            </div>

                        </div>
                    </div>
                    @*style="margin-top: 0;"
        onresize="if(window.innerWidth <= 767)
           { this.style.cssText = 'margin-top: 50px !important;'; }
           else { this.style.cssText = 'margin-top: 0 !important;'; }"*@


                    @*<div id="reg_username" class="finput reg_username">
            <div  onclick="checkAccountExist()" id="check_account_valid"  title="Kiểm tra tên đăng nhập"></div>
            <span id="account_invalid" class="account_invalid" style="display:none"></span>
            <span id="account_valid" class="account_valid" style="display:none"></span>
            <em class="requiredfield_icn"></em>
            <input class="input_login" tabindex="2" type="text" placeholder="Email" maxlength="32" name="Gmail" value="" id="regacc_account" autocomplete="off">
            <input class="input_login" type="text" value="Email đăng nhập" style="display:none" id="fake_regacc_account">
            <div id="regacc_account_tooltip" class="formtipbubble" style="display:none;">
                <span class="formtip_arrow zidsprt"></span>
                <div class="formtip_inner">Tài khoản có dấu chấm, dấu gạch dưới sẽ không đăng nhập được tất cả các Game</div>
            </div>
        </div>*@


                    @*<div id="reg_username" class="finput reg_username">
            <div onclick="checkEmailExistence()" id="check_email_button" class="checkusernamebtn" title="Kiểm tra email đăng ký"></div>
            <span id="email_exists" class="email_exists" style="display:none; color: red;">Email này đã tồn tại</span>
            <span id="email_valid" class="email_valid" style="display:none; color: green;">Email hợp lệ</span>
            <em class="requiredfield_icn"></em>
            <input class="input_login" tabindex="2" type="text" placeholder="Email" maxlength="32" name="Gmail" value="" id="email_input" autocomplete="off">
            <input class="input_login" type="text" value="Email đăng nhập" style="display:none" id="fake_email_input">
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <script>
            // Kiểm tra khi người dùng nhập vào ô input (auto check)
            $('#email_input').on('input', function() {
                var email = $(this).val();
                if (email) {
                    checkEmailExistence(email); // Gọi hàm kiểm tra khi người dùng nhập email
                } else {
                    $('#email_exists').hide();
                    $('#email_valid').hide();
                }
            });

            // Kiểm tra email tồn tại khi nhấn nút "Kiểm tra Email"
            function checkEmailExistence(email = '') {
                // Nếu không có email, lấy giá trị từ ô input
                if (!email) {
                    email = $('#email_input').val();
                }

                // Gọi Ajax để kiểm tra email
                $.ajax({
                    url: '@Url.Action("CheckAccountExist1", "Register")',  // Đảm bảo đường dẫn chính xác
                    type: 'POST',
                    data: { email: email },
                    success: function(response) {
                        if (response.success) {
                            $('#email_valid').show();
                            $('#email_exists').hide();
                            $('#email_input').data('valid', true); // Đánh dấu email hợp lệ
                        } else {
                            $('#email_exists').text(response.message).show();
                            $('#email_valid').hide();
                            $('#email_input').data('valid', false); // Đánh dấu email không hợp lệ
                        }
                    },
                    error: function() {
                        $('#email_exists').text("Đã có lỗi xảy ra!").show();
                        $('#email_valid').hide();
                        $('#email_input').data('valid', false); // Đánh dấu email không hợp lệ
                    }
                });
            }

            // Kiểm tra email trước khi gửi form
            $('#frmReg').on('submit', function(e) {
                // Kiểm tra xem email có hợp lệ hay không
                var isEmailValid = $('#email_input').data('valid');
                if (!isEmailValid) {
                    e.preventDefault(); // Ngừng gửi form
                    alert("Email đã tồn tại, vui lòng sử dụng email khác.");
                }
            });
        </script>*@


                    @*<div rel="Notice" class="msgtooltip posleft error show" id="require_err">
            <span class="tooltiparrow zidsprt"></span>
            <div class="tooltipbody">
                <span class="tipmsg_icon"></span>
                <div class="tipcontent"></div>
            </div>
        </div>*@

                    <!--<div id="reg_username" class="finput">-->
                    @*<div  onclick="checkAccountExist()" id="check_account_valid"  title="Kiểm tra tên đăng nhập"></div>*@
                    <!--<span id="email_exists" class="email_exists" style="display:none; color: red;">Email này đã tồn tại</span>
        <span id="email_valid" class="email_valid" style="display: none; color: green;">Email hợp lệ</span>
        <em class="requiredfield_icn"></em>
        <input class="input_login" tabindex="2" type="text" placeholder="Email" maxlength="40" name="Gmail" value="" id="regacc_account" autocomplete="off">
        <input class="input_login" type="text" value="Email đăng nhập" style="display:none" id="fake_email_input">
        <div id="regacc_account_tooltip" class="formtipbubble" style="display:none;">
            <span class="formtip_arrow zidsprt"></span>
            <div class="formtip_inner">Tài khoản đăng nhập phải có @@gmail.com</div>
        </div>
    </div>-->

                    <div id="reg_username" class="finput">
                        <!-- Thông báo lỗi -->
                        <span id="email_invalid" class="email_invalid" style="display: none; color: red;">Email không hợp lệ</span>
                        <span id="email_exists" class="email_exists" style="display: none; color: red;">Email này đã tồn tại</span>
                        <span id="email_valid" class="email_valid" style="display: none; color: green;">Email hợp lệ</span>

                        <!-- Trường nhập email -->
                        <em class="requiredfield_icn"></em>
                        <input class="input_login" tabindex="2" type="text" placeholder="Email" maxlength="40" name="Gmail"
                               value="" id="regacc_account" autocomplete="off">
                        <input class="input_login" type="text" value="Email đăng nhập" style="display:none" id="fake_email_input">

                        <!-- Tooltip -->
                        <div id="regacc_account_tooltip" class="formtipbubble" style="display:none;">
                            <span class="formtip_arrow zidsprt"></span>
                            <div class="formtip_inner">Tài khoản đăng nhập phải là email của bạn!</div>
                        </div>
                    </div>



                    @*<div id="reg_username" class="finput">

            <span id="email_exists" class="email_exists" style="display:none; color: red;">Email này đã tồn tại</span>
            <span id="email_valid" class="email_valid" style="display:none; color: green;">Email hợp lệ</span>
            <em class="requiredfield_icn"></em>
            <input class="input_login" tabindex="2" type="text" placeholder="Email" maxlength="40" name="Gmail" value="" id="email_input" autocomplete="off">
            <input class="input_login" type="text" value="Email đăng nhập" style="display:none" id="fake_email_input">
        </div>*@

                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

                    <script>
                        // Kiểm tra định dạng email (bao gồm @@gmail.com)
                        @*function validateEmailFormat(email) {
                            var emailPattern = /^[a-zA-Z0-9._%+-]+@@gmail\.com$/;  // Kiểm tra @@gmail.com
                            return emailPattern.test(email);
                        }

                        // Kiểm tra khi người dùng nhập vào ô input (auto check)
                        $('#regacc_account').on('input', function() {
                            var email = $(this).val();

                            // Kiểm tra định dạng email
                            if (email && !validateEmailFormat(email)) {
                                $('#email_exists').hide();
                                $('#email_valid').hide();
                                $('#regacc_account').data('valid', false);  // Đánh dấu email không hợp lệ
                                $('#regacc_account').css('border-color', 'red');  // Đổi màu viền đỏ khi email không hợp lệ
                            } else if (email) {
                                checkEmailExistence(email); // Gọi hàm kiểm tra khi email có định dạng đúng
                            } else {
                                $('#email_exists').hide();
                                $('#email_valid').hide();
                                $('#regacc_account').data('valid', false);
                                $('#regacc_account').css('border-color', '');  // Đặt lại viền nếu không có email
                            }
                        });

                        // Kiểm tra email tồn tại
                        function checkEmailExistence(email) {
                            // Kiểm tra định dạng email trước khi kiểm tra tồn tại
                            if (!validateEmailFormat(email)) {
                                $('#email_exists').hide();
                                $('#email_valid').hide();
                                $('#regacc_account').data('valid', false);
                                $('#regacc_account').css('border-color', 'red');  // Đổi viền đỏ nếu không đúng định dạng
                                return;
                            }

                            // Gọi Ajax để kiểm tra email tồn tại
                            $.ajax({
                                url: '@Url.Action("CheckAccountExist1", "Register")',  // Đảm bảo đường dẫn chính xác
                                type: 'POST',
                                data: { email: email },
                                success: function(response) {
                                    if (response.success) {
                                        $('#email_valid').show();
                                        $('#email_exists').hide();
                                        $('#regacc_account').data('valid', true); // Đánh dấu email hợp lệ
                                        $('#regacc_account').css('border-color', 'green');  // Đổi viền xanh khi email hợp lệ
                                    } else {
                                        $('#email_exists').text(response.message).show();
                                        $('#email_valid').hide();
                                        $('#regacc_account').data('valid', false); // Đánh dấu email không hợp lệ
                                        $('#regacc_account').css('border-color', 'red');  // Đổi viền đỏ khi email tồn tại
                                    }
                                },
                                error: function() {
                                    $('#email_exists').text("Đã có lỗi xảy ra!").show();
                                    $('#email_valid').hide();
                                    $('#regacc_account').data('valid', false); // Đánh dấu email không hợp lệ
                                    $('#regacc_account').css('border-color', 'red');  // Đổi viền đỏ khi có lỗi
                                }
                            });
                        }

                        // Kiểm tra email trước khi gửi form
                        $('#frmReg').on('submit', function(e) {
                            // Kiểm tra xem email có hợp lệ hay không
                            var isEmailValid = $('#regacc_account').data('valid');
                            if (!isEmailValid || !validateEmailFormat($('#regacc_account').val())) {
                                e.preventDefault(); // Ngừng gửi form
                                alert("Email không hợp lệ hoặc đã tồn tại, vui lòng nhập lại.");
                            }
                        });*@

                        // Kiểm tra định dạng email (phải chứa @@gmail.com)
                        function validateEmailFormat(email) {
                     //       var emailPattern = /^[a-zA-Z0-9._-]+@@[a-zA-Z0-9-]+\.[a-zA-Z]{2,}$/;
                            var emailPattern = /^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;// Định dạng: phải có @@gmail.com
                            return emailPattern.test(email);
                        }

                        // Xử lý sự kiện khi người dùng nhập email
                        $('#regacc_account').on('input', function() {
                            var email = $(this).val();

                            // Kiểm tra định dạng email
                            if (email && !validateEmailFormat(email)) {
                                $('#email_invalid').show(); // Hiển thị "Email không hợp lệ"
                                $('#email_exists').hide();
                                $('#email_valid').hide();
                                $('#regacc_account').data('valid', false); // Đánh dấu email không hợp lệ
                                $('#regacc_account').css('border-color', 'red'); // Đổi màu viền đỏ khi email không hợp lệ
                            } else if (email) {
                                $('#email_invalid').hide(); // Ẩn thông báo "Email không hợp lệ"
                                checkEmailExistence(email); // Gọi hàm kiểm tra tồn tại
                            } else {
                                // Khi ô nhập trống, ẩn tất cả thông báo
                                $('#email_invalid').hide();
                                $('#email_exists').hide();
                                $('#email_valid').hide();
                                $('#regacc_account').data('valid', false);
                                $('#regacc_account').css('border-color', ''); // Đặt lại viền mặc định
                            }
                        });

                        // Hàm kiểm tra email đã tồn tại trong cơ sở dữ liệu hay chưa
                        function checkEmailExistence(email) {
                            // Kiểm tra định dạng email trước khi kiểm tra tồn tại
                            if (!validateEmailFormat(email)) {
                                $('#email_invalid').show(); // Hiển thị "Email không hợp lệ"
                                $('#email_exists').hide();
                                $('#email_valid').hide();
                                $('#regacc_account').data('valid', false);
                                $('#regacc_account').css('border-color', 'red'); // Đổi màu viền đỏ
                                return;
                            }

                            // Gửi Ajax để kiểm tra trong cơ sở dữ liệu
                            $.ajax({
                                url: '@Url.Action("CheckAccountExist1", "Register")', // Đảm bảo đường dẫn đúng
                                type: 'POST',
                                data: { email: email },
                                success: function(response) {
                                    if (response.success) {
                                        $('#email_valid').show(); // Hiển thị "Email hợp lệ"
                                        $('#email_invalid').hide();
                                        $('#email_exists').hide();
                                        $('#regacc_account').data('valid', true); // Đánh dấu email hợp lệ
                                        $('#regacc_account').css('border-color', 'green'); // Đổi viền xanh
                                    } else {
                                        $('#email_exists').text(response.message).show(); // Hiển thị "Email đã tồn tại"
                                        $('#email_valid').hide();
                                        $('#email_invalid').hide();
                                        $('#regacc_account').data('valid', false); // Đánh dấu email không hợp lệ
                                        $('#regacc_account').css('border-color', 'red'); // Đổi viền đỏ
                                    }
                                },
                                error: function() {
                                    $('#email_exists').text("Đã có lỗi xảy ra!").show(); // Hiển thị lỗi hệ thống
                                    $('#email_valid').hide();
                                    $('#email_invalid').hide();
                                    $('#regacc_account').data('valid', false);
                                    $('#regacc_account').css('border-color', 'red'); // Đổi viền đỏ
                                }
                            });
                        }

                        // Kiểm tra email trước khi gửi form
                        $('#frmReg').on('submit', function(e) {
                            var isEmailValid = $('#regacc_account').data('valid');
                            if (!isEmailValid || !validateEmailFormat($('#regacc_account').val())) {
                                e.preventDefault(); // Ngăn gửi form
                                alert("Email không hợp lệ hoặc đã tồn tại, vui lòng nhập lại.");
                            }
                        });

                    </script>




                    <!-- Password -->
                    <div rel="Notice" class="msgtooltip posleft error show" id="regacc_pwd_error">
                        <span class="tooltiparrow zidsprt"></span>
                        <div class="tooltipbody">
                            <span class="tipmsg_icon"></span>
                            <div class="tipcontent">
                            </div>
                        </div>

                    </div>
                    <div class="finput">
                        <em class="requiredfield_icn"></em>
                        <input class="input_login" tabindex="3" type="password" placeholder="Mật khẩu" name="MatKhau" id="regacc_pwd" autocomplete="off" value="">
                        <div id="regacc_pwd_tooltip" class="formtipbubble" style="display:none;">
                            <span class="formtip_arrow zidsprt"></span>
                            <div class="formtip_inner">
                                Mật khẩu phải có từ 6-32 ký tự.
                            </div>
                        </div>
                    </div>

                    <!-- Re-enter Password -->
                    <div rel="Notice" class="msgtooltip posleft error show" id="regacc_re_pwd_error">
                        <span class="tooltiparrow zidsprt"></span>
                        <div class="tooltipbody">
                            <span class="tipmsg_icon"></span>
                            <div class="tipcontent">
                            </div>
                        </div>

                    </div>
                    <div class="finput">
                        <em class="requiredfield_icn"></em>
                        <input class="input_login" tabindex="4" type="password" placeholder="Xác nhận Mật khẩu" id="regacc_re_pwd" autocomplete="off" value="">
                        <div id="regacc_re_pwd_error1" class="formtipbubble" style="display:none;">
                            <span class="formtip_arrow zidsprt"></span>
                            <div class="formtip_inner">
                                Xác nhận mật khẩu phải trùng khớp với mật khẩu đã nhập phía trên
                            </div>
                        </div>
                    </div>

                    <script>
                        $(document).ready(function () {
                            $('#regacc_re_pwd').on('focus', function () {
                                $('#regacc_re_pwd_error1').show(); // Hiển thị thông báo
                            });

                            $('#regacc_re_pwd').on('blur', function () {
                                $('#regacc_re_pwd_error1').hide(); // Ẩn thông báo
                            });
                        });
                    </script>


                    <div rel="Notice" class="msgtooltip posleft error" id="regacc_re_pwd_error" style="display:none;">
                        <span class="tooltiparrow zidsprt"></span>
                        <div class="tooltipbody">
                            <span class="tipmsg_icon"></span>
                            <div class="tipcontent">Mật khẩu xác nhận không khớp với mật khẩu.</div>
                        </div>
                    </div>
                    <span id="error_message1" style="color:red; display:none;">Vui lòng sửa lỗi trước khi đăng ký.</span>
                    <!-- Submit button -->
                    <button class="zid_regbtn" @*style="float: right; background: #0072c6; color: #fff; padding: 10px 20px; font-size: 16px; border: none; border-radius: 5px; cursor: pointer; text-decoration: none;"*@ onclick="return handleRegister()" type="submit">Đăng Ký</button>

                    <div class="clr"></div>
                </div>

                <div id="recaptcha" class="g-recaptcha" data-sitekey="6Le66CwUAAAAAPZOb-sR_nVSGuwvnTY337mPaI2R" data-size="invisible" data-callback="onSubmit"></div>
            </form>


            <script>
                function handleRegister() {
                    checkRegInputStep1();
                    var pwd = document.getElementById("regacc_pwd").value.trim();
                    var repwd = document.getElementById("regacc_re_pwd").value.trim();
                    var isValid = true; 
                    if (pwd !== repwd) {
                        document.getElementById("error_message1").style.display = "block";
                        isValid = false;
                    } else {
                        document.getElementById("error_message1").style.display = "none";
                        isValid = true; 
                    }
                    if (!isValid) {
                        // Hiển thị lỗi, ngăn gửi biểu mẫu
                        return false; // Ngăn form submit
                    }

                    // Nếu hợp lệ, cho phép gửi biểu mẫu
                    return true;
                }

//                function validatePassword() {
//                // Lấy giá trị từ input
//                const password = document.getElementById("regacc_pwd").value;
//                const confirmPassword = document.getElementById("regacc_re_pwd").value;

//                // Phần tử để hiển thị lỗi
//                const errorElement = document.getElementById("regacc_re_pwd_error");

//                // Kiểm tra mật khẩu
//                if (password === confirmPassword) {
//                    // Nếu khớp, ẩn thông báo lỗi
//                    errorElement.style.display = "none";
//                    return true; // Hợp lệ
//                } else {
//                    // Nếu không khớp, hiển thị thông báo lỗi
//                    errorElement.style.display = "block";
//                    return false; // Không hợp lệ
//                }
//}

//                // Thêm sự kiện vào trường xác nhận mật khẩu
//                document.getElementById("regacc_re_pwd").addEventListener("input", validatePassword);
//                document.getElementById("regacc_pwd").addEventListener("input", validatePassword);

                // Kiểm tra tài khoản đã tồn tại
                function checkAccountExist() {
                    var email = document.getElementById('regacc_account').value;

                    if (email) {
                        $.ajax({
                            url: '/register/CheckAccountExist', // Đảm bảo URL đúng
                            type: 'POST',
                            data: { email: email },
                            success: function (response) {
                                if (!response.success) {
                                    // Hiển thị thông báo lỗi nếu email đã tồn tại
                                    $('#regacc_account_error').text(response.message).show();
                                    $('#account_valid').hide();
                                    $('#account_invalid').show();
                                } else {
                                    // Hiển thị thông báo hợp lệ nếu email chưa tồn tại
                                    $('#regacc_account_error').hide();
                                    $('#account_invalid').hide();
                                    $('#account_valid').show();
                                }
                            },
                            error: function () {
                                alert('Đã có lỗi xảy ra.');
                            }
                        });
                    }
                }

            </script>


        </div>
        <div class="backtologin" style="background-color: #f0f0f0; padding: 10px;">
            Nếu bạn đã có tài khoản. Trở về <a href="/Home/Index" onclick="zid.goLogin();"><strong>Trang chủ</strong></a> để đăng nhập.
        </div>
    </div>
    <script type="text/javascript">
        zm.ready(function () {
            var jsonStr = '';
            var jsonArray = JSON.parse(jsonStr);
            for (var i in jsonArray) {
                var counter = jsonArray[i];
                zmIdContent.showTooltipError(counter.id, counter.msg);
            }
        });
    </script>
    <script language="javascript" src="/Content/js/zid_xlogin_1.06.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript" src="/Content/js/zid_register_full_05.js"></script>
    <script type="text/javascript">
        window.zAsyncInit = function () {
            zmeOpenWidget.init({
                apikey: '92140c0e46c54994812403f564787c14',
                pid: '38',
                callback: 'cb',
                tpl: '5'
            });
        };
        function cb(cbdata, acn, zid, uin, autcode, obj) {
            location.reload();
        }
        ;
        (function (d) {
            var js, id = 'widget-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement('script');
            js.id = id;
            js.async = true;
            var t = Math.floor(Math.random() * 10000);
            js.src = "https://stc-id.zing.vn/widget/js/openwidget4.js?t=" + t;
            ref.parentNode.insertBefore(js, ref);
        }(document));
    </script>
    <script src="/Content/js/api.js" async defer></script>




    @**@













</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    function Show() {
        const contact = {
            HoTen: "",
            Gmail: "",
            MatKhau: "",
            hide: ""
        };
        contact.Ten = $("#HoTen").val();
        contact.Email = $("#Gmail").val();
        contact.Phone = $("#MatKhau").val();
        contact.NoiDung = $("#Hide").val();
        $.ajax({
            type: 'POST',
            url: '/RegisterC/GetJson',
            data: { obj: contact },
            success: function (data) {
                if (data.Phone != null) {
                    alert("Thực hiện thành công!");
                    //pháo hoa
                    fireConfetti();
                    //xóa dữ liệu
                    $("#HoTen").val("");
                    $("#Gmail").val("");
                    $("#MatKhau").val("");
                    $("#Hide").val("");
                    hideHashtagEffect();
                }
                else {
                    //alert("Thực hiện không thành công!");
                    displayHashtagEffect("Thực hiện không thành công!"); // Hiển thị EROR khi có lỗi

                }
            },
            error: function (ex) {
                //alert("Khong thể thực hiện");
                displayHashtagEffect("Khong thể thực hiện"); // Hiển thị EROR khi có lỗi

            }
        });
        return false;
    }
</script>

