/* 
    Document   : password_level
    Created on : Aug 2, 2013, 11:55:00 AM
    Author     : lybn
    Description:
        Purpose of the stylesheet follows.
*/

.meter {
    border-right: #636363 1px solid;
    padding-right: 0px;
    border-top: #636363 1px solid;
    padding-left: 0px;
    font-size: 0px;
    float: left;
    padding-bottom: 0px;
    margin: 2px;
    border-left: #636363 1px solid;
    width: 17px;
    line-height: 0;
    padding-top: 0px;
    border-bottom: #636363 1px solid;
    height: 5px
}

.level {
    background-color: #009900
}