@model ManageBloodTypes.Models.NghiepVuModel
<section class="ftco-counter img bg-light" id="section-counter">
    <div class="container">
        <div class="row">
            <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18 d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-suitcase"></span>
                    </div>
                    <div class="text">
                        <strong class="number" data-number="@Model.SoNguoi">0</strong>
                        <span>Người tham gia</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18 d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-loyalty"></span>
                    </div>
                    <div class="text">
                        <strong class="number" data-number="@Model.SLHienMau">0</strong>
                        <span>Lượt hiến máu</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18 d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-coffee"></span>
                    </div>
                    <div class="text">
                        <strong class="number" data-number="@Model.SLNhanMau">0</strong>
                        <span>Lượt nhận máu</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
                <div class="block-18 d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-calendar"></span>
                    </div>
                    <div class="text">
                        <strong class="number" data-number="@Model.SlCho">0</strong>
                        <span>Lượt chờ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>