@model ManageBloodTypes.Models.LichSuGiaoDichModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Doctor.cshtml";
}

<main id="main" class="main">
    <div class="center-screen">
        <img src="/Content/img/logo.png" alt="Logo" class="site-logo">
        <h1><strong>CHÀO MỪNG BẠN ĐẾN TRANG BÁC SĨ</strong></h1>
    </div><!-- End Page Title -->
</main>

